@charset "UTF-8";

/*
  2017-10-30
  enpgames
*/

/*reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button, section {margin:0; padding:0;}
html{overflow-x: hidden;width: 100%;height: 100%;}
p{word-wrap: break-word;}
li {list-style-type: none;}
table {border-collapse:collapse;}
img, fieldset, iframe {border: 0;}
img {border:none; vertical-align: top;}
input {vertical-align: middle; -moz-box-sizing:border-box; -webkit-box-sizing: border-box; box-sizing:border-box;}
input, select, textarea, button { vertical-align: middle; }
button { border: 0 none; background-color: transparent; cursor: pointer; }
a {text-decoration: none; color:#666;}
em {font-style: normal;}
textarea:focus, input:focus{outline: 0;}
article, aside, canvas, details, embed, figcaption, figure, footer, header, menu, nav, section, summary, datalist, keygen, mark, meter, progress, rp, rt, ruby, time, wbr { display: block; }
body, code{color:#666; font:13px/1.25 맑은 고딕, 'Malgun Gothic', sans-serif; background:#fff;}
input, select, textarea{color:#333; font-size:13px; line-height:1em;  font-family: 맑은 고딕, 'NanumGothic', 'Malgun Gothic', sans-serif;}
.hidden{font:0px/0 a; height:0; overflow:hidden; position:absolute; visibility:hidden; width:0; text-indent: -99999px;}
.hide{display:none !important;}
.clear{clear: both;}
.clearfix:after{content:"";display:block;clear:both}


//default
$marAuto:0 auto;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin boxSize($width:null, $height:null){
  width: $width;
  height: $height;
}

//--------------------START--------------------//
#wrap{
  position:relative;
  width:100%;
  background:#133f47 url("../images/main/bg_main.jpg") center 0 no-repeat;
  padding-top: 47px;
  img{
    max-width: 100%;
  }
}

//header
#hdWrap{
  position: relative;
  @include boxSize(100%, 97px);
  z-index: 9999;
  //top main menu
  .navWrap{
    @include boxSize(1000px, 97px);
    margin: $marAuto;
    .logo{
      position: absolute;
      top:-38px;
    }
    .navList{
      position: relative;
      top:35px; left:334px;
      li{
        display: inline-block;
        @include boxSize(100px, 30px);
        background-image: url("../images/common/nav_menu_off.png");
        margin-right: 42px;
        a{
          display: block;
          @include boxSize(100px, 30px);
          text-indent: -99999px;
        }
        &:hover,&.on{
          background-image: url("../images/common/nav_menu_on.png");
        }
        &:nth-child(1){
          background-position: 0 0;
        }
        &:nth-child(2){
          background-position: -147px 0;
        }
        &:nth-child(3){
          background-position: -294px 0;
          margin-right: 25px;
        }
        &:nth-child(4){
          background-position: -423px 0;
          margin-right: 26px;
        }
        &:nth-child(5){
          background-position: -554px 0;
          margin-right: 0;
        }
      }
      //subMenu mouse over
      li:hover .subMenu{display: block;}
    }
  }
  //top sub menu
  .subMenu{
    display: none;
    @include boxSize(100%, 172px);
    background: url("../images/common/sub_menu_off.png") center 0 no-repeat;
    .subMenuList{
      @include boxSize(1000px, 172px);
      margin: $marAuto;
      position: relative;
      left:334px;
      > li{
        display: inline-block;
        font-size: 16px;
        .menu{
          @include boxSize(100px, 139px);
          position: absolute;
          top:0;
          text-align: center;
          padding-top: 15px;
          > li{
            margin-bottom: 8px;
            @include boxSize(100px, 25px);
            a{
              display: block;
              @include boxSize(100px, 25px);
              text-indent: -99999px;
            }
          }
          &.m01{
            li {
              background: url("../images/common/subMenu01_off.png") no-repeat;
              &:hover, &.on{
                background-image: url("../images/common/subMenu01_on.png");
              }
              &:nth-child(1){
                background-position: 0 -14px;
                &:hover,&.on{
                  background-position: 0 -15px;
                }
              }
              &:nth-child(2){
                background-position: 0 -45px;
                &:hover,&.on{
                  background-position: 0 -46px;
                }
              }
              &:nth-child(3){
                background-position: 0 -74px;
                &:hover,&.on{
                  background-position: 0 -75px;
                }
              }
            }
          }
          &.m02{
            left:146px;
            li{
              background-image: url("../images/common/subMenu02_off.png");
              &:hover, &.on{
                background-image: url("../images/common/subMenu02_on.png");
              }
              &:nth-child(1){
                background-position: 0 -14px;
                &:hover,&.on{
                  background-position: 0 -15px;
                }
              }
              &:nth-child(2){
                background-position: 0 -45px;
                &:hover,&.on{
                  background-position: 0 -46px;
                }
              }
              &:nth-child(3){
                background-position: 0 -74px;
                &:hover,&.on{
                  background-position: 0 -75px;
                }
              }
              &:nth-child(4){
                background-position: 0 -103px;
                &:hover,&.on{
                  background-position: 0 -104px;
                }
              }
            }
          }
          &.m03{
            left:293px;
            li{
              background-image: url("../images/common/subMenu03_off.png");
              &:hover, &.on{
                background-image: url("../images/common/subMenu03_on.png");
              }
              &:nth-child(1){
                background-position: 0 -14px;
                &:hover,&.on{
                  background-position: 0 -15px;
                }
              }
              &:nth-child(2){
                background-position: 0 -45px;
                &:hover,&.on{
                  background-position: 0 -46px;
                }
              }
            }
          }
          &.m04{
            left:426px;
            li{
              background-image: url("../images/common/subMenu04_off.png");
              &:hover, &.on{
                background-image: url("../images/common/subMenu04_on.png");
              }
              &:nth-child(1){
                background-position: 0 -14px;
                &:hover,&.on{
                  background-position: 0 -15px;
                }
              }
              &:nth-child(2){
                background-position: 0 -45px;
                &:hover,&.on{
                  background-position: 0 -46px;
                }
              }
            }
          }
          &.m05{
            left:553px;
            li{
              background-image: url("../images/common/subMenu05_off.png");
              &:hover, &.on{
                background-image: url("../images/common/subMenu05_on.png");
              }
              &:nth-child(1){
                background-position: 0 -14px;
                &:hover,&.on{
                  background-position: 0 -15px;
                }
              }
              &:nth-child(2){
                background-position: 0 -45px;
                &:hover,&.on{
                  background-position: 0 -46px;
                }
              }
              &:nth-child(3){
                background-position: 0 -74px;
                &:hover,&.on{
                  background-position: 0 -75px;
                }
              }
            }
          }
        }
      }
    }
  }
}

//main fix
#mainWrap{
  position: relative;
  width: 1000px;
  margin: $marAuto;
  //top fix(sub and main)
  .fixWrap{
    position: relative;
    height: 374px;
    //slide banner
    .slideWrap{
      position: relative;
      @include boxSize(1000px, 304px);
      .slidePaging{
        position: absolute;
        bottom:17px; left:15px;
        z-index: 999;
        div{
          float: left;
          margin-left:5px;
          a{
            display: block;
            @include boxSize(25px, 25px);
            background: url("../images/common/dot_off.png") no-repeat;
            &.active{
              background: url("../images/common/dot_on.png") no-repeat;
            }
          }
        }
      }
    }
    //game start
    .gameStart{
      position: absolute;
      bottom:70px; right: 12px;
      @include boxSize(313px, 165px);
      z-index: 999;
      a{
        display: block;
        @include boxSize(313px, 165px);
        background: url("../images/common/btn_gameStart_off.png") no-repeat;
        text-indent: -99999px;
        &:hover{
          background: url("../images/common/btn_gameStart_on.png") no-repeat;
        }
      }
    }
    //login & info set
    .infoBox{
      height: 70px;
      padding-top: 17px;
      &.Blogin{
        .loginInput{
          float: left;
          margin: 0 5px 0 20px;
          input{
            @include boxSize(145px,34px);
            background: #131d1e;
            border: 1px solid #0d4146;
            color: #78bac1;
            padding-left: 10px;
          }
        }
        .joinFind{
          position: absolute;
          bottom:16px; right:20px;
          @include boxSize(293px,37px);
          background: url("../images/common/btn_find.png") no-repeat;
          a{
            display: inline-block;
            text-indent: -99999px;
            height: 17px;
            margin-top: 10px;
            &.join{
              width: 62px;
              margin-left: 45px;
            }
            &.find{
              width: 137px;
            }
          }
        }
      }
      &.Alogin{
        .myInfo{
          box-sizing: border-box;
          display: inline-block;
          height: 37px;
          color: #fff;
          padding: 9px 0 0 20px;
          @include border-radius(5px);
          border: 1px solid #343434;
          background: #131316;
          box-shadow: 1px 1px 10px 1px #000 inset;
          p{
            float: left;
            background: url("../images/common/s_dot.jpg") 0 center no-repeat;
            padding-left: 10px;
            margin-right: 20px;
            strong{color: #ea323c; font-size: 14px;}
            &:first-child{
              color: #787878;
            }
          }
        }
        .myBtn{
          width: 274px;
          position: absolute;
          bottom: 17px; right: 30px;
          a{
            float: left;
            &:first-child{margin-right: 2px;}
          }
        }
      }
    }
  }

  //contents!
  .contentWrap{
    margin-top: 39px;
    z-index: 99;
    position: relative;
    padding:37px 0 37px 47px;
    box-sizing: border-box;
    //content common
    .commonFt{
      @include boxSize(905px, 40px);
      background: #202020;
      margin-top: 28px;
      padding:13px 20px;
      box-sizing: border-box;
      .down{
        color: #b4b4b4;
        font-size: 12px;
        padding-left: 20px;
        &.ie{
          background: url("../images/common/icon_Explorer.png") 0 center no-repeat;
          margin-right: 20px;
        }
        &.fp{
          background:url("../images/common/icon_flash.png") 0 center no-repeat;
        }
      }
      .faq{
        float: right;
        li{
          display: inline-block;
          a{
            color: #b4b4b4;
          }
          &.line{
            color: #b4b4b4;
            margin: 0 10px;
          }
        }
      }
    }
  }
}


//footer
#ftWrap{
  position: relative;
  @include boxSize(100%, 350px);
  margin-top: -63px;
  background: url("../images/common/bg_footer.png") center 0 no-repeat;
  padding-top:135px;
  box-sizing: border-box;
  .footer{
    position: relative;
    width: 1000px;
    margin: $marAuto;
    .ftlogo{
      margin-left: 47px;
    }
    .ftLeft{
      position: absolute;
      top:0; left:257px;
      .links{
        @include boxSize(557px, 34px);
        padding: 10px;
        border-top: 1px solid #5b7179;
        border-bottom: 1px solid #5b7179;
        box-sizing: border-box;
        margin-bottom: 20px;
        li{
          display: inline-block;
          font-size: 12px;
          a{
            color: #5b7179;
            span{
              color: #ff3030;
            }
          }
        }
      }
      .copy{
        font-size: 12px;
        color: #5b7179;
        margin-bottom: 15px;
      }
    }
  }
}


//sever select
.serverWrap{
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  .serverMain{
    @include boxSize(1104px, 630px);
    position: fixed;
    top:50%; left:50%;
    margin-top: -315px;
    margin-left: -552px;
    background: url("../images/server/bg_server.png") no-repeat;
    .btn_close{
      position: absolute;
      top:110px; right:65px;
    }
    .serverList{
      width: 907px;
      position: relative;
      left: 97px;
      li{
        @include boxSize(223px, 49px);
        background: url("../images/server/bg_de.png") no-repeat;
        float: left;
        margin-right: 5px;
        margin-bottom: 5px;
        line-height: 49px;
        a{
          display: block;
          @include boxSize(223px, 49px);
          font-size: 17px;
          color: #fff;
          font-weight: bold;
          padding-left:16px;
          box-sizing: border-box;
          img{
            vertical-align: middle;
          }
        }
        &:nth-child(4n){
          margin-right: 0;
        }
      }
      &.recent{
        top:256px;
        li.on, li:hover{
          background: url("../images/server/bg_recent.png") no-repeat;
        }
      }
      &.main{
        top: 317px;
        li.on, li:hover{
          background: url("../images/server/bg_sel.png") no-repeat;
        }
      }
    }
    //common paging
    .paging{
      position: relative;
      text-align: center;
      top: 335px;
      li{
        display: inline-block;
        @include boxSize(22px, 22px);
        background: #373737;
        text-align: center;
        line-height: 22px;
        margin: 0 3px;
        a{
          color: #acacac;
          display: block;
          @include boxSize(22px, 22px);
        }
        &.on{
          border:1px solid #757575;
          background: #1a414b;
          font-weight: bold;
          a{
            color: #fff;
          }
        }
      }
    }
  }
}




